<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.chandrakant.accompanyapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Accompany"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".SignIn"
                android:label="Accompany"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Realsignin"
                android:theme="@style/spalsh">
        </activity>
        <activity android:name=".upload">
        </activity>
        <activity
                android:name=".splash"
                android:theme="@style/spalsh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".aboutus"
                android:label="About Us"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".rate">
        </activity>
    </application>

</manifest>